body {
	background-color: #e6e6e6;
	margin: 10px 20px;		
}
.location {
	text-align: right;
	padding-right: 20px;
	margin-bottom: 15px;
}
.location a {
	padding: 8px;
}
.location a:link {
	text-decoration: none;
}
li {
	list-style-type: none;
}
#apart {
	margin-top: 10px;
	margin-bottom: 10px;	
	background-color: #fff;
}
a {
	color: black;	
}
a:hover {
	color: black;
}
.content {
	position: relative;
	height: 100%;
}
.detail_content {
	background-color: #4d4d4d;
}
.detail_infor {
	text-align: right;
	padding: 20px;
	color: #ffcc00;
}
.detail_room_status {
	font-size: 22px;
	font-weight:bold;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #fff;	
}