<div class="row detail_content">
	<div class="col-sm-6">
		<img class="img-responsive" src="img/{{apartment.image}}">
	</div>
	<div class="col-sm-4 detail_infor">
		<p class="detail_room_status"><span class="glyphicon glyphicon-ok-sign"> Still Have Room</p><br>
		<p>From<font style="font-size:32px;font-weight:bold;color:#fff;"> ${{apartment.price}}</font></p>
		<p style="text-aligh:right">USD / Month</p><br><br>
		<button type="button" class="btn btn-warning" style="color:#000;">Order</button>
	</div>
</div>   