<h3>Minneapolis,MN: {{totalItems}} Apartments</h3>
<div class="row location">
    <div class="col-sm-offset-9 col-sm-3">
        <a id="popularity" href="" ng-click="orderBy('popularity')">Popularity</a>&nbsp;&nbsp;
        <a id="price" href="" ng-click="orderBy('price')">Price</a>
    </div>
</div>
<ul class="list-group">
    <li ng-repeat="apartment in pageApartment" id="apart">
        <div class="row" style="position:relative">
    <div class="col-sm-5">
        <img class="img-responsive" src="img/{{apartment.image}}">
    </div>

    <div class="col-sm-7" style="position:initial;padding-left:30px;" >
        <a ui-sref="detail({id:apartment.id})"><h2>{{apartment.name}}</h2></a>
        <p style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;">{{apartment.description}}</p>
        <div class="price-box">
            <font>From</font><font style="font-size:32px;font-weight:bold"> ${{apartment.price}}</font><br>
            <font>USD / Month</font>
        </div>
    </div>
</div>
    </li>
<ul>

<div class="text-center">
    <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" items-per-page="maxSize" ng-change="pageChanged()"></ul>
</div>